<h1>new blog</h1>
<form action="/blogs" method="POST">
    <label>Title</label>
    <input type="text" name="blog[title]" placeholder="title">
    <label>Image</label>
    <input type="text" name="blog[image]" placeholder="image url">
    <label>Description</label>
    <input type="text" name="blog[description]" placeholder="decription">
    <button type="submit">Submit</button>
</form>